<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.wanghao.auth.mapper.mysql.UniCamelMapper" >
	<select id="getUserRoleNameList" resultType="java.util.Map" parameterType="java.util.Map" >
		select b.role_name as roleName from uni_camel_user_role t 
		LEFT JOIN 
		uni_camel_role b 
		ON t.role_id = b.role_id
		WHERE t.user_id = #{userId,jdbcType=VARCHAR}
	</select>
	<select id="getUserResourcesNameList" resultType="java.util.Map" parameterType="java.util.Map" >
		select e.resources_name as resourcesName from uni_camel_user_role t 
		LEFT JOIN 
		uni_camel_role_auth b ON t.role_id = b.role_id
		LEFT JOIN 
		uni_camel_resources e ON b.resources_id = e.resources_id
		WHERE t.user_id = #{userId,jdbcType=VARCHAR}
	</select>	
</mapper>